{% extends 'HeroSandwich/base.html' %}
{% block title %}Characters{% endblock %}
{% block content %}
{% load staticfiles %}
<article>
    <dl class="dl-horizontal">

<img src='{{ character.description.image.url }}' align="right" width='483' height='620' class="img-thumbnail" />

  <h1 class='text-success'>{{ cap }}</h1>

      <p class="text-primary">{{ character.description.description}}</p>

<dt>
    <h3 class='text-success'>Real Name</h3>
      <p class="text-primary">{{ character.description.real_name}}</p>

    <h3 class='text-success'>Born</h3>
      <p class="text-primary">{{ character.description.birth_date }}</p>

    <h3 class='text-success'>Age</h3>
      <p class="text-primary">{{ prettyage }}</p>

    <h3 class='text-success'>Height</h3>
      <p class="text-primary">{{ character.description.height}}</p>

  <h3 class='text-success'>Weight</h3>
      <p class="text-primary">{{ character.description.weight}}</p>
</dt>
<dd>
  <h3 class='text-success'>Powers</h3>
      <p class="text-primary">{{ character.description.powers}}</p>

  <h3 class='text-success'>Abilities</h3>
      <p class="text-primary">{{ character.description.abilities}}</p>

  <h3  class='text-success'>Group Affiliations</h3>
      <p class="text-primary">{{ character.description.group_affiliations}}</p>

  <h3 class='text-success'>First Appearance</h3>
      <p class="text-primary">{{ character.description.first_appearance}}
</dd>
</dl>
</article>

{% if 'HeroSandwich.change_description' in perms %}
<p><a href="{% url 'characters:characters' %}" class="btn btn-primary btn-sm active" role="button">Back to List</a></p>
{% endif %}
{% endblock %}
