body {
  padding-top: 50px;



}
.starter-template {
  padding: 20px 15px 450px;
  text-align: center;
  background-repeat: round;
  background-image: url(http://3.bp.blogspot.com/-FKVfHNe8ook/VwUku3NkChI/AAAAAAAAARQ/iqDEm4Lv-EglaLwjRp2EzIF-CJlSpbKzA/s1600/Thanos-Wallpaper-1080p-KPE.jpg);


}
